h5{
    text-decoration: underline;
}
hr.rounded {
    border-top: 5px solid #24282c;
    border-radius: 5px;
}
body{
    background-color: dimgray;
}
#mainContainer{
    padding-top: 1%;
}
#mainTitle {
    color: #24282c;
    font-family: Rockwell;
    text-align: center;
}
#mainDescription {
    color: #24282c;
}
#interestsHeader{
    padding-top: 1%;
}
.leftPad{
    padding-left: 15px;
}
div.jumbotron {
    background-color: #673883;
    border-color: #673883;
    border: 1px solid #24282c;
}
.navbar-dark, .card {
    background-color: #673883;
    color: #24282c;
    border: 1px solid #24282c;
}
.navbar-dark .navbar-nav .nav-link, .card {
    color: #24282c;
}
.dropdown-menu {
    background-color: #673883;
}
.dropdown-item:hover {
    background-color: #884bac;
}
.collapseCards {
    padding-top: 1%;
}
.companyName {
    font-size: 25px;
    font-family: Consolas;
    font-weight: bold;
    display: inline;
}
.timePeriod {
    padding-left: 10px;
    font-size: 12px;
    color: #7d858d;
    font-weight: 600;
    vertical-align: bottom;
    display: inline;
}
.jobBody {
    font-size: 18px;
}
.jobList {
    font-size: 16px;
    font-weight: 600;
    color: #7d858d;
}
.jobTitle {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    display: inline;
}
.jobLanguages {
    font-size: 14px;
    font-weight: 500;
    display: inline;
}
ul.educationList, ul.interestList {
    list-style-type: none;
}
ul.interestList li, ul.educationList li{
    padding-top: 2%;
}
.educationTimePeriod {
    padding-left: 10px;
    font-size: 12px;
    color: #7d858d;
    font-weight: 600;
    vertical-align: bottom;
}
.educationTitle {
    padding-left: 10px;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
}

body
{
}